ul.checklist {
    list-style: none;
    padding: 0;
}

ul.checklist li {

    line-height: 24px;
    padding-left: 25px;
    background-image: url('images/unchecked.png');
    background-repeat: no-repeat;
    background-size: 20px;
}

ul.checklist li.checked {
    background-image: url('images/checked.png');

}

